<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yelp Camp</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

</head>

<body>	
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Yelp Camp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/campgrounds">Campgrounds <span class="sr-only">(current)</span></a>
      </li>
    </ul>
	<ul class="nav justify-content-end">
		<%if(!currentUser){%>
		<li class="nav-item"><a class= "nav-link" href="/login">Login</a></li>
		<li class="nav-item"><a class= "nav-link" href="/register">Signup</a></li>
		<%}else{%>
		<li class="nav-item"><a class= "nav-link" href="/user"> <%=currentUser.username%></a></li>
		<li class="nav-item"><a class= "nav-link" href="/logout">Logout</a></li>
		<%}%>
    </ul>
	
  </div>
</nav>

<%if(error && error.length > 0){%>
	<div class="alert-wrap">
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
		  <strong>Ooops!</strong> <%=error%>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
	</div>

<%}%>
<%if(success && success.length > 0){%>
	<div class="alert-wrap">
		<div class="alert alert-success alert-dismissible fade show" role="alert">
		  <strong>Hoooray!</strong> <%=success%>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
	</div>

<%}%>