<%- include("./partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">

<div class="container">
    <div class="col-md-12 mx-auto text-center big m-9" style="margin-top: 25%;">
        <h1>Welcome to the Yelp Camp,</h1>
        <p>Where you can find and upload lovely campsites, and also comment to it</p>
        <small>Awesome, right?</small>

        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <a href="/campgrounds" class=" float-left btn btn-block btn-info">
                            Go to campgrounds
                            <svg class="bi bi-chevron-compact-right" width="0.7em" height="0.7em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M6.776 1.553a.5.5 0 01.671.223l3 6a.5.5 0 010 .448l-3 6a.5.5 0 11-.894-.448L9.44 8 6.553 2.224a.5.5 0 01.223-.671z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>


<%- include("./partials/footer") %>