<%- include("./partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-8 mx-auto" style="margin-top: 10%;">
            <div class=" row">
                <div class="col-md-8 col-lg-8 mx-auto" style="align-items: center;">
                    <h3 style="margin-bottom: 5%;">Login</h3>
                    <form action=" /login" method="POST">
                        <label for="username">Username</label>
                        <div class="form-group">
                            <input type="text" id="username" class="form-control" placeholder="username"
                                name="username">

                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>

                            <input type="password" id="password" class="form-control" name="password"
                                placeholder="password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-md mx-auto btn-primary btn-block">
                                Submit
                            </button>
                            <button class="btn btn-md mx-auto btn-danger btn-block">
                                I forgot my password
                            </button>
                        </div>
                    </form>
                    <a class="float-right" href="/register">Don't you have an account? <svg
                            class="bi bi-chevron-compact-right" width="0.7em" height="0.7em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M6.776 1.553a.5.5 0 01.671.223l3 6a.5.5 0 010 .448l-3 6a.5.5 0 11-.894-.448L9.44 8 6.553 2.224a.5.5 0 01.223-.671z"
                                clip-rule="evenodd" />
                        </svg></a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("./partials/footer") %>