<%- include("../partials/header") %>

<div class="container">
    <div class="row">

        <div class="mx-auto col-md-8" style="margin-top: 10%;">
            <h3>Create a new campground</h3>
            <div class="row">
                <div class="col-md-10 mx-auto" style="align-items: center;  margin-top: 10%;">
                    <form action=" /campgrounds" method="POST">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="campgroundName"
                                    placeholder="Campground Name" aria-describedby="inputGroupPrepend2"
                                    name="campground[name]" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Image URL" id="campgroundImage"
                                    name="campground[image]" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Campground Description"
                                    id="campgroundDescription" name="campground[description]" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <button class="btn btn-md mx-auto btn-primary">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                    <a href="/campgrounds" class="btn btn-md go-back">
                        <svg class="bi bi-chevron-compact-left" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M9.224 1.553a.5.5 0 01.223.67L6.56 8l2.888 5.776a.5.5 0 11-.894.448l-3-6a.5.5 0 010-.448l3-6a.5.5 0 01.67-.223z"
                                clip-rule="evenodd" />
                        </svg>Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>